<% include partials/header %>
<div class="ui" style="overflow: scroll;">
  <br>
  <br>
  <br>
  <table id="table" class="ui striped green sortable selectable small table">
  <thead>
    <div class="ui search">
      <input id="search" class="prompt" type="search" placeholder="Search...">
    <div class="results"></div>
  </div>
    <tr>
      <th class="two wide sorted ascending">AW</th>
      <th class="two wide">Status</th>
      <th class="six wide">Customer GUID</th>
      <th class="three wide">Customer Name</th>
      <th class="two wide">Message Count</th>
      <th class="two wide">Blob Replication</th>
      <th class="two wide">Blob LTS</th>
      <th class="two wide">Index Replication</th>
      <th class="two wide">Index LTS</th>
      <th class="two wide">Structure Replication</th>
      <th class="two wide">Structure LTS</th>
  </tr></thead>
  <tbody>
    <% 
    var i = 0;
    AW_IP.forEach(function(AW_IP){ %>
    <tr>
      <td><%= AW_IP %></td>
      <td><%= AW_STATUS[i] %></td>
      <td><%= CUST_GUID[i] %></td>
      <td><%= CUST_NAME[i] %></td>

      <% if(MSG_COUNT[i] >= 4000000){ %>

      <td style="color: red;"><%= MSG_COUNT[i] %></td>
      <% }else if(MSG_COUNT[i] < 4000000 && MSG_COUNT[i] >= 3500000){ %>
        <td style="color: orange;"><%= MSG_COUNT[i] %></td>
      <% }else{ %>
        <td style="color: green;"><%= MSG_COUNT[i] %></td>
      <% } %>
<!--       <% if(BLOB_REPLICATION[i] !== "N/A"){ %>
      <td><%= BLOB_REPLICATION[i].substring(9) %></td>
      <% }else{ %>
        <td>N/A</td>
      <% } %> -->
      <td>BLOB_REPLICATION[i]</td>
      <td><%= BLOB_LTS[i] %></td>
<!--       <% if(INDEX_REPLICATION[i] !== "N/A"){ %>
      <td><%= INDEX_REPLICATION[i].substring(9) %></td>
      <% }else{ %>
        <td>N/A</td>
      <% } %> -->
      <td><%= INDEX_REPLICATION[i] %></td>
      <td><%= INDEX_LTS[i] %></td>
<!--       <% if(STRUCTURE_REPLICATION[i] !== "N/A"){ %>
      <td><%= STRUCTURE_REPLICATION[i].substring(9) %></td>
      <% }else{ %>
        <td>N/A</td>
      <% } %> -->
      <td><%= STRUCTURE_REPLICATION[i] %></td>
      <td><%= STRUCTURE_LTS[i] %></td>
    </tr>
    <% 
    i++;
}); %>
  </tbody>
</table>  
<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
</div>

<% include partials/footer %>